.filter-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
  flex-wrap: wrap;

  &__value {
    display: flex;
    flex-direction: column
  }

  &__label {
    font-size: 0.99em;
    line-height: 1.3em;
    letter-spacing: 0.03em;
    color: #ddd;
    margin-bottom: 10px;
  }

  &__field {
  }

}
